.kakao-button {
  background-color: #FEE500;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  font-weight: bold;
  padding: 4px 16px;
  width: 200px;
  height: 48px;
  margin: 0 auto;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 1px 1px 1px grey;
  font-family: 'Roboto', sans-serif;

}

.kakao-button:hover {
  background-color: #FEE500;
  color: white;
}
