.logo{
  max-height: 1.5rem;
}
.header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 10;
}

.hover {
  &:hover {
    color: rgb(143, 0, 255);
    transition: all 0.2s ease-in-out;
  }
}

.avatar {
  border-color: linear-gradient(to right, #FF0000, #00FF00, #0000FF);
  border-radius: 50%;
  width: 50px;
  height: 50px;

  animation: rainbow 10s infinite linear;
}

.profile_wrapper {
  float: left;
  width: 100px;
  height: 100px;
  margin: 0 15px 0 36px;
  position: relative;
}

.gradation_animate {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: url(https://k.kakaocdn.net/dn/BQFZF/btqzu7xZvy9/p3qATq2IbK4edXbUm76pTK/img.png) no-repeat;
  animation: spin 1s linear infinite;
}

.image_wrapper {
  position: relative;
  overflow: hidden;
  width: 94px;
  height: 94px;
  border-radius: 50%;
  top: 3px;
  left: 3px;
}

.image {
  position: absolute;
  top: -100%;
  left: -100%;
  right: -100%;
  bottom: -100%;
  margin: auto;
  height: 92px;
  min-width: 100%;
  min-height: 100%;
}
