
.page{
  margin-bottom: 15rem;
  .title {
    width: 79%;

    margin: 5rem auto 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h3 {
      font-size: 1.5rem;
    }

  }

  .codeLogPage {
    margin: auto;

    width: 81%;
    padding: 1rem;
    // align-items: center;
      // justify-content: center;

    }
      
    // .search {
      // margin: 0 auto 10rem;
  
      // width: 81%;
      // padding: 1rem;
      // align-items: center;
        // justify-content: center;
  
      // }
}
