// 로고
.box {
  width: 8rem;
  height: 3.75rem;
  border-radius: 0.5rem;
  background: #8f00ff;
  margin: 0 0 0.5rem 0.5rem;
  display: flex;

  &:hover{
    cursor: pointer;
  }

  img {
    padding-top: 0.2rem;
    padding-left: 0.2rem;
    width: 70%;
    margin: auto;
  }
  //로고 hover
  &:hover {
    background: #9f22ff;
    img {
      filter: inherit;
      transform: scale(1.14, 1.14);
      transform-origin: 50% 50%;
      transition: transform 0.3s ease-in-out;
    }
  }
}
