.streakTable {
  margin-top: 5rem;
  padding: 1rem;
  border: 1px solid black;
}

.streakOff {
  border-radius: 0.5rem;
  background-color: #EBEDF0;
  min-width: 10px;
  min-height: 10px;
  width: 100px;
  border: solid white 3px;
}

.streakOn {
  border-radius: 0.5rem;
  background-color: #eab20a;
  min-width: 10px;
  min-height: 10px;
  width: 100px;
  border: solid white 3px;
}

.chip {
  padding: 2rem;
  align-items: center;
}